.book-background {
  background-image: url("https://qzprod.files.wordpress.com/2016/05/books.jpg?quality=80&strip=all&w=2000");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.opaque-background {
  background-color: rgba(255, 255, 255, .85);
}

tr > td > img {
  width: 50%;
}

.table td {
  width: 1%;
}

.deleteBook {
  width: 50%;
}

.decorative-border {
  border: solid 3px gray;
  padding: .5em;
}

.form-group {
  padding: .25em;
}
